body {
  background: #f06226;
  color: #fff;
  font-family: Verdana;
  font-size: 14px;
}

.container {
   width: 60%;
   background: #199fdb;
   margin: 20px auto;
   overflow: auto;
   padding: 25px;
}

header, footer {
  font-family: Georgia;
}
header {
  text-align: center;
  border-bottom: 1px dashed #fff;
}

header h1 {
  margin: 0;
  padding: 0;
}

header p {
  padding: 0;
  margin-top: 5px;
  color: #000;
}

section {
  min-height: 400px;
  line-height: 1.5em;
}

section h3 {
  margin-bottom: 0;
  font-weight: 100;
}
footer {
  text-align: center;
}

input[type=submit] {
  margin-top: 30px;
  background: #f06226;
  border: 0;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}

label::after {
  content: ' ';
  display: block;
}

#results h3 {
  background: #f06226;
  padding: 10px;
  margin: 10px 0;
}

#results span {
  color: #000;
  font-weight: bold;
}
